openapi: 3.1.0
info:
  title: Dawer API
  version: 1.0.0
  description: |
    GCP Cloud Run API for the Dawer waste-recycling logistics platform (Jordan).
    All endpoints require a Firebase Auth JWT in the Authorization header.
    Base URL: https://<service>-<hash>-ew.a.run.app (Cloud Run, me-west1)

servers:
  - url: https://api.dawer.app/v1
    description: Production (Cloud Armor → Cloud Run)

security:
  - FirebaseJWT: []

components:
  securitySchemes:
    FirebaseJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase Auth ID token. Obtain via Firebase Phone Auth OTP flow.

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: ORDER_NOT_FOUND
            message:
              type: string
              example: "Order with id abc123 was not found"

    OrderStatus:
      type: string
      enum: [pending, accepted, inTransit, completed, cancelled]

    OrderType:
      type: string
      enum: [pickup, collection, collectionSale]

    WasteType:
      type: string
      enum:
        - paper
        - plastic
        - metal
        - glass
        - electronics
        - organic
        - textile
        - wood
        - rubber
        - oil
        - chemicals
        - batteries
        - furniture
        - tires
        - construction

    WasteForm:
      type: string
      enum: [solid, liquid, mixed]

    WeightCategory:
      type: string
      enum: [light, medium, heavy, veryHeavy]

    PickupTarget:
      type: string
      enum: [company, riderBuy]

    Location:
      type: object
      required: [lat, lng]
      properties:
        lat:
          type: number
          format: double
          example: 31.9539
        lng:
          type: number
          format: double
          example: 35.9106

    Order:
      type: object
      required:
        - id
        - type
        - status
        - waste_types
        - waste_form
        - weight_category
        - pickup_target
        - pickup_location
        - estimated_weight_kg
        - distance_km
        - reward_jd
        - is_urgent
        - created_at
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/OrderType'
        status:
          $ref: '#/components/schemas/OrderStatus'
        supplier_id:
          type: string
          format: uuid
          nullable: true
        driver_id:
          type: string
          format: uuid
          nullable: true
        company_id:
          type: string
          format: uuid
          nullable: true
        waste_types:
          type: array
          items:
            $ref: '#/components/schemas/WasteType'
          minItems: 1
        waste_form:
          $ref: '#/components/schemas/WasteForm'
        weight_category:
          $ref: '#/components/schemas/WeightCategory'
        pickup_target:
          $ref: '#/components/schemas/PickupTarget'
        pickup_location:
          $ref: '#/components/schemas/Location'
        dropoff_location:
          $ref: '#/components/schemas/Location'
          nullable: true
        estimated_weight_kg:
          type: number
          format: double
        distance_km:
          type: number
          format: double
        reward_jd:
          type: number
          format: double
          description: Driver reward in Jordanian Dinars
        is_urgent:
          type: boolean
        proof_photo_url:
          type: string
          format: uri
          nullable: true
        notes:
          type: string
          nullable: true
        linked_job_id:
          type: string
          format: uuid
          nullable: true
        cancelled_by:
          type: string
          enum: [supplier, driver, system]
          nullable: true
        created_at:
          type: string
          format: date-time
        accepted_at:
          type: string
          format: date-time
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        driver:
          $ref: '#/components/schemas/UserSummary'
          nullable: true
        supplier:
          $ref: '#/components/schemas/UserSummary'
          nullable: true

    UserRole:
      type: string
      enum: [driver, supplier, recyclingCo]

    SupplierType:
      type: string
      enum: [individual, storeBusiness]

    UserSummary:
      type: object
      required: [id, name, rating]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        rating:
          type: number
          format: double
        vehicle_model:
          type: string
          nullable: true
        vehicle_color:
          type: string
          nullable: true
        vehicle_plate:
          type: string
          nullable: true
        vehicle_photo_url:
          type: string
          format: uri
          nullable: true

    UserProfile:
      type: object
      required: [id, name, phone, role, rating, total_orders, is_verified, is_available, points, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
          example: "+962791234567"
        email:
          type: string
          nullable: true
        role:
          $ref: '#/components/schemas/UserRole'
        supplier_type:
          $ref: '#/components/schemas/SupplierType'
          nullable: true
        rating:
          type: number
          format: double
        total_orders:
          type: integer
        is_verified:
          type: boolean
        is_available:
          type: boolean
        points:
          type: integer
        location:
          $ref: '#/components/schemas/Location'
          nullable: true
        vehicle_model:
          type: string
          nullable: true
        vehicle_color:
          type: string
          nullable: true
        vehicle_plate:
          type: string
          nullable: true
        vehicle_photo_url:
          type: string
          format: uri
          nullable: true
        address:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    RewardBreakdown:
      type: object
      required: [base_fee_jd, distance_fee_jd, material_fee_jd, urgency_bonus_jd, total_jd]
      properties:
        base_fee_jd:
          type: number
          format: double
          example: 1.50
        distance_fee_jd:
          type: number
          format: double
          example: 2.10
        material_fee_jd:
          type: number
          format: double
          example: 0.30
        urgency_bonus_jd:
          type: number
          format: double
          example: 0.00
        total_jd:
          type: number
          format: double
          example: 3.90
        needs_manual_review:
          type: boolean
          description: True if primary waste_type has no rate (furniture, tires, etc.)

    DriverSummary:
      type: object
      required: [id, name, distance_m]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        rating:
          type: number
          format: double
        distance_m:
          type: number
          format: double

    Pagination:
      type: object
      required: [total, page, page_size, has_more]
      properties:
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean

  responses:
    Unauthorized:
      description: Missing or invalid Firebase JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: "Invalid or expired token"
    Forbidden:
      description: Authenticated but not authorized for this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: State conflict — server-wins. Response body contains current server state.
      content:
        application/json:
          schema:
            type: object
            required: [error, current_state]
            properties:
              error:
                $ref: '#/components/schemas/Error'
              current_state:
                $ref: '#/components/schemas/Order'

# ─────────────────────────────────────────────────────────────────────────────
# order-svc
# ─────────────────────────────────────────────────────────────────────────────
paths:
  /orders:
    post:
      operationId: createOrder
      tags: [Orders]
      summary: Create a new order
      description: |
        Supplier creates a pickup request or Company creates a collection job.
        reward_jd is calculated server-side — do not pass it from client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - waste_types
                - waste_form
                - weight_category
                - pickup_target
                - pickup_location
                - estimated_weight_kg
                - distance_km
              properties:
                type:
                  $ref: '#/components/schemas/OrderType'
                waste_types:
                  type: array
                  items:
                    $ref: '#/components/schemas/WasteType'
                waste_form:
                  $ref: '#/components/schemas/WasteForm'
                weight_category:
                  $ref: '#/components/schemas/WeightCategory'
                pickup_target:
                  $ref: '#/components/schemas/PickupTarget'
                pickup_location:
                  $ref: '#/components/schemas/Location'
                dropoff_location:
                  $ref: '#/components/schemas/Location'
                  nullable: true
                estimated_weight_kg:
                  type: number
                  format: double
                distance_km:
                  type: number
                  format: double
                is_urgent:
                  type: boolean
                  default: false
                notes:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Validation error (invalid waste_types, missing fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      operationId: listOrders
      tags: [Orders]
      summary: List orders for the authenticated user
      description: |
        Returns orders relevant to the caller's role:
        - Driver: available pending orders (if role=driver&status=pending) or their own orders
        - Supplier: their own submitted orders
        - RecyclingCo: orders assigned to their company
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/OrderType'
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Paginated list of orders
          content:
            application/json:
              schema:
                type: object
                required: [orders, pagination]
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/{id}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Get a single order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order detail with embedded driver/supplier summaries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{id}/status:
    patch:
      operationId: updateOrderStatus
      tags: [Orders]
      summary: Advance order status (state machine enforced server-side)
      description: |
        Valid transitions:
        - pending → accepted (driver)
        - accepted → inTransit (driver)
        - inTransit → completed (driver, requires proof_photo_upload_token)
        - pending/accepted/inTransit → cancelled (supplier or driver)

        On conflict (order already accepted by another driver), returns 409 with current server state.
        Client must refresh from current_state and not retry the accept.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/OrderStatus'
                proof_photo_upload_token:
                  type: string
                  description: Required when status=completed. Signed token from POST /orders/{id}/proof-photo
                  nullable: true
                cancelled_by:
                  type: string
                  enum: [supplier, driver]
                  nullable: true
                  description: Required when status=cancelled
      responses:
        '200':
          description: Updated order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid status transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: INVALID_TRANSITION
                  message: "Cannot transition from inTransit to pending"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /orders/{id}/proof-photo:
    post:
      operationId: getProofPhotoUploadUrl
      tags: [Orders]
      summary: Get a signed URL to upload the proof photo to Cloud Storage
      description: |
        Returns a signed upload URL (15-minute expiry) and a proof_photo_upload_token.
        Client uploads photo directly to Cloud Storage using the signed URL,
        then passes the token to PATCH /orders/{id}/status with status=completed.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_type]
              properties:
                content_type:
                  type: string
                  enum: [image/jpeg, image/png, image/webp]
      responses:
        '200':
          description: Signed upload URL and token
          content:
            application/json:
              schema:
                type: object
                required: [upload_url, proof_photo_upload_token, expires_at]
                properties:
                  upload_url:
                    type: string
                    format: uri
                  proof_photo_upload_token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

# ─────────────────────────────────────────────────────────────────────────────
# auth-svc
# ─────────────────────────────────────────────────────────────────────────────

  /users/profile:
    post:
      operationId: createUserProfile
      tags: [Auth]
      summary: Create user profile on first login (idempotent)
      description: |
        Called once after Firebase Auth OTP succeeds. Creates the user row in Cloud SQL.
        Idempotent — safe to call again if interrupted; returns existing profile on repeat calls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone, role]
              properties:
                name:
                  type: string
                phone:
                  type: string
                  example: "+962791234567"
                role:
                  $ref: '#/components/schemas/UserRole'
                supplier_type:
                  $ref: '#/components/schemas/SupplierType'
                  nullable: true
                address:
                  type: string
                  nullable: true
                vehicle_model:
                  type: string
                  nullable: true
                vehicle_color:
                  type: string
                  nullable: true
                vehicle_plate:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '200':
          description: Profile already exists — returned as-is
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Missing required fields or invalid role/supplier_type combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me:
    get:
      operationId: getMyProfile
      tags: [Auth]
      summary: Get authenticated user's full profile
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      operationId: updateMyProfile
      tags: [Auth]
      summary: Update authenticated user's profile fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                address:
                  type: string
                vehicle_model:
                  type: string
                vehicle_color:
                  type: string
                vehicle_plate:
                  type: string
                location:
                  $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/fcm-token:
    patch:
      operationId: updateFcmToken
      tags: [Auth]
      summary: Update FCM token (call on every app launch)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fcm_token]
              properties:
                fcm_token:
                  type: string
      responses:
        '204':
          description: Token updated
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/availability:
    patch:
      operationId: updateDriverAvailability
      tags: [Auth]
      summary: Toggle driver availability (drivers only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_available]
              properties:
                is_available:
                  type: boolean
      responses:
        '200':
          description: Updated profile with new availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: User is not a driver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─────────────────────────────────────────────────────────────────────────────
# reward-svc
# ─────────────────────────────────────────────────────────────────────────────

  /rewards/calculate:
    post:
      operationId: calculateReward
      tags: [Rewards]
      summary: Preview driver reward before creating an order
      description: |
        Stateless calculation — does not write to DB.
        Rates: base 1.50 JD + distance × 0.60 JD/km + weight × material_rate + urgency 0.50 JD.
        Material rates: oil 0.05, plastic 0.03, metal 0.07, glass 0.02, electronics 0.10, organic 0.01.
        Furniture and others: rate = 0, needs_manual_review = true.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [waste_types, estimated_weight_kg, distance_km]
              properties:
                waste_types:
                  type: array
                  items:
                    $ref: '#/components/schemas/WasteType'
                estimated_weight_kg:
                  type: number
                  format: double
                distance_km:
                  type: number
                  format: double
                is_urgent:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Reward breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardBreakdown'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─────────────────────────────────────────────────────────────────────────────
# geo-svc
# ─────────────────────────────────────────────────────────────────────────────

  /drivers/nearby:
    post:
      operationId: getNearbyDrivers
      tags: [Geo]
      summary: Get available drivers within a radius
      description: |
        Uses Cloud SQL PostGIS ST_DWithin query.
        Returns drivers sorted by distance ascending.
        Internal use by order-svc when creating a new order to dispatch FCM to nearby drivers.
        Also available to supplier UI for "select driver" flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lat, lng, radius_km]
              properties:
                lat:
                  type: number
                  format: double
                lng:
                  type: number
                  format: double
                radius_km:
                  type: number
                  format: double
                  default: 15
                  maximum: 50
      responses:
        '200':
          description: List of nearby available drivers
          content:
            application/json:
              schema:
                type: object
                required: [drivers]
                properties:
                  drivers:
                    type: array
                    items:
                      $ref: '#/components/schemas/DriverSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ─────────────────────────────────────────────────────────────────────────────
# admin-svc (internal — not exposed via Cloud Armor to public)
# ─────────────────────────────────────────────────────────────────────────────

  /admin/orders:
    get:
      operationId: adminListOrders
      tags: [Admin]
      summary: List all orders with filters (admin only)
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/OrderType'
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Paginated order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/users/{id}/verify:
    patch:
      operationId: adminVerifyUser
      tags: [Admin]
      summary: Approve or reject a user's verification (admin only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_verified]
              properties:
                is_verified:
                  type: boolean
                rejection_reason:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/transactions:
    get:
      operationId: adminListTransactions
      tags: [Admin]
      summary: List all transactions with VAT breakdown (admin only)
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        order_id:
                          type: string
                          format: uuid
                        driver_id:
                          type: string
                          format: uuid
                        base_fee_jd:
                          type: number
                        distance_fee_jd:
                          type: number
                        material_fee_jd:
                          type: number
                        urgency_bonus_jd:
                          type: number
                        vat_jd:
                          type: number
                          description: VAT at current rate (16% in Jordan)
                        total_jd:
                          type: number
                        status:
                          type: string
                          enum: [pending, paid, failed]
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
